@tailwind base;
@tailwind components;
@tailwind utilities;
:root[data-theme="dark"] {
    color-scheme: dark;
    --text: 187deg 59% 94%;
    --background: 180deg 60% 2%;
    --primary: 226deg 71% 40%;

    /* --secondary: 166deg 91% 9%;
    --accent: 161deg 94% 30%; */
}

:root[data-theme="light"] {
    color-scheme: light;
    --text: 187deg 60% 6%;
    --background: 180deg 60% 98%;
    --primary: 0deg 74% 42%;

    /* --secondary: 166deg 91% 91%;
    --accent: 161deg 93% 70%; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
